<div class="main">
    <h1>A propos</h1>
    
    <p>
        Lancé en 2019, <strong>Camerphone</strong> est reconnu comme l'une des meilleures plateformes mobiles 
        et technologiques depuis 2019 par des milliers d'utilisateurs dans tout le Cameroun. 
        <strong>Camerphone</strong>  a pour vision de simplifier l'achat de mobiles et de gadgets via ce site 
        web et les réseaux sociaux. <strong>Camerphone</strong>  est l'une des plus grandes plateformes 
        d'informations avec une base de données de plus de 500 téléphones et gadgets.
    </p>
    <p>
        <strong>Camerphone</strong> essaie toujours de garder sa communauté informée avec des avis, des mises à jour, 
        des news et des actualités sur les téléphones mobiles les plus récents et disponibles et 
        autres gadgets technologiques.
    </p>
    
    <p>
        Nos produits ont pour point commun d'avoir un éxelant rapport qualité prix.
    </p>
    
    <h3>Garantie 100%</h3>
    <p>
        Pour tout produit acheté chez Camerphone, vous disposez d'une garantie 100% satisfait ou 
        remboursée durant 30 jours après achat.
    </p>
    
    <h3>Vous avez des questions</h3>
    
    <p>
        N'hésitez pas à nous poser vos questions directement via WhatsApp au <a href="https://wa.me/237698183297?text=je%20souhaite%20poser%20une%20question%20à%20Camerphone.">698 18 32 97</a>. Notre équipe se fera un plaisir de 
        vous répondre le plus rapidement possible.
    </p>
    <p>
        Vous pouvez aussi nous contacter sur notre page Facebook 
        <a href="https://web.facebook.com/FacebookCamerphone"><i class="pi pi-facebook"> Camerphone</i></a>
    </p>
    
    <p>
        Camerphone est une société basée au Cameroun à Yaoundé Mvog-betsi.
    </p>
</div>

