<h1>FAQ</h1>
<p-accordion [activeIndex]="0">
    <p-accordionTab header="En combien de temps peut-on être livré ?">
        <p>
            La livraison se fait le même jours en plus ou moins 3h.       
        </p>
    </p-accordionTab>
    <p-accordionTab header="Où livrons nous ?">
        <p>
            Dans les villes  de Yaoundé et Douala. 
        </p>
    </p-accordionTab>
    <p-accordionTab header="Quel sont les frais de livraison ?">
        <p>
            Il n'y en a pas.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Où êtes-vous situé ?">
        <p>
            A Yaoundé, marché Mvog-betsi.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Quels sont les horaires de livraison ?">
        <p>
            Les articles sont livré entre 9h et 17H.
        </p>
    </p-accordionTab>
</p-accordion>