<div class="container">
    <div class="content" >
        <img src="https://cdn.shopify.com/s/files/1/0533/3834/1574/files/shipping.png" alt="">
        <h4>Livraison Express</h4>
        <p></p>
        <h3>
            Votre commande livrée <strong>A votre domicile ou votre bureau en 3h</strong>
        </h3>
    </div>
    <div class="content" >
        <img src="https://cdn.shopify.com/s/files/1/0533/3834/1574/files/satisfaction-guaranteed.png" alt="">
        <h4>Retour facile et rapide</h4>
        <p></p>
        <h3>
            Vous avez <strong>30 jours de retour gratuit</strong>
        </h3>
    </div>
    <div class="content" >
        <img src="https://cdn.shopify.com/s/files/1/0533/3834/1574/files/client-support.png" alt="">
        <h4>Service après vente</h4>
        <p></p>
        <h3>
            <strong>Besoin d'aide ?</strong> Nous sommes à votre service <strong>de lundi à samedi au 6 98 18 32 97</strong>
        </h3>
    </div>
</div>