.container {
    display: flex;
    flex-direction: column;
}

.content {
    width: 90%;
    margin: 4%;
    text-align: center;
    display: inline-table;
    background-color: rgb(234, 231, 230);

}

.content > img {
    width: 120px;
    margin: 20px 0;
}

h3 {
    display: block;
    text-align:center;
    padding: 0 5px;
    font-size: small;
}
h4 {
    font-size: x-small;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    .content {
        margin: 10px;
    }
}