.fuler {
    text-align: center;
    position: relative;
    padding-top: 80px;
    display: block;
}

a {
    text-decoration: auto;
}

h2 {
    text-align: center;
    color: #7a7a7a;
    padding-top: 11px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.preview-title{
    margin-bottom: 30px;
}
app-phone {
    width: 42%;
    margin: 5px;
}

.budgetContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.budget {
    display: grid;
}
p-card {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


:host ::ng-deep .p-tabview-title {
    color: #565656;
}
:host ::ng-deep .p-tabview-nav {
    a{
        text-decoration: auto;
    }
}

:host ::ng-deep .p-card-content {
    padding: 0px;
}

:host ::ng-deep .p-card-footer {
    padding: 10px;
    font-weight: 700;
}

:host ::ng-deep .p-card-body {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

button {
    background-color: #285C2B; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: sticky;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


@media screen and (min-width: 600px) {
    app-phone {
        max-width: 30%;
        margin: 5px;
    }
}