p-card {
    display: flex;

}

.imgPhone {
    max-width: 100px;
}

.card-content{
    cursor: pointer;
}

.prix-aff {
    color: #da2f0c;
    font-weight: 700;

}

.prix-prom{
    color: dimgray;
    font-weight: 700;
    text-decoration: line-through;
}

.etat {
    background-color: #fcfcba;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
}


:host ::ng-deep .p-card-content {
    padding: 0px;
    cursor: pointer;
}

:host ::ng-deep .ng-star-inserted {
   
}