<p-card header={{name}}
        [subheader]="" 
        class="card-content"
        (click)="showPhoneDet(phone.id_phone)">
    <ng-template pTemplate="header">
        <img ngOptimizedImage class="imgPhone" alt="Card" [src]="imglocation" />
    </ng-template>
    <h3> </h3>
    <span>{{phone.rom}}GB ROM - </span>
    <span>{{phone.ram}}GB RAM -</span>
    <span>{{phone.sim}}SIM -</span>
    <span>{{phone.camera}} </span>
    <ng-template pTemplate="footer">
        <span class="prix-aff">{{ phone.prix| currency: 'XAF'  }}  </span>
        <span class="prix-prom" >  {{ phone.promo| currency: 'XAF' }}</span>
    </ng-template>
</p-card>